@import "/assets/typography.scss";
@import "/assets/mixin.scss";

.aboutUs-main-wrapper {
  .wrap-aboutus {
    overflow-y: scroll;
    padding: 16px 0px 0 0px;
    height: calc(100vh - 64px);

    .zabanshenas-icon-wrapper {
      justify-content: center;
      display: flex;
      margin: 0 auto 8px auto;
      img {
        border-radius: 10px;
      }
    }

    .contents {
      text-align: center;
      margin-bottom: 16px;
      @include Fa_Tag();
    }
    .about-text {
      .text {
        direction: rtl;
        line-height: 1.6;
        margin-bottom: 24px;
        text-align: justify;
        @include Fa_Body();
      }
      .about-us-buttons {
        position: absolute;
        width: 100%;
        bottom: 24px;
      }
    }

    .contact-support {
      direction: rtl;
      margin-bottom: 24px;

      svg {
        width: 24px;
      }

      .contact-text {
        margin-right: 4px;
        @include Fa_Body();
      }
    }

    .icons-collections {
      display: flex;
      justify-content: space-evenly;
    }

    .contact-icons {
      min-width: unset;
      padding: unset;

      .MuiButton-startIcon {
        margin: unset;
      }

      &.tel {
        svg {
          width: 36px;
          background: linear-gradient(#1c96d1, #36aee0);
          border-radius: 50%;
          path {
            &:nth-child(1) {
              fill: transparent;
            }
          }
        }
      }

      &.mail {
        svg {
          width: 36px;
          background-color: #d19592;
          background: linear-gradient(200deg, #d19592 0%, #c81f70 74%);
          border-radius: 50%;
          path {
            &:nth-child(1) {
              fill: transparent;
            }
          }
        }
      }

      &.web {
        svg {
          width: 36px;
          background: rgba(104, 106, 216, 1);
          background: linear-gradient(
            180deg,
            rgba(104, 106, 216, 1),
            rgba(13, 133, 252, 1)
          );
          border-radius: 50%;
          path {
            &:nth-child(1) {
              fill: transparent;
            }
          }
        }
      }

      &.insta {
        svg {
          width: 36px;
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
          border-radius: 50%;
        }
      }
    }
  }
}
