@import "/assets/typography.scss";
.profile-chain-score-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  margin-bottom: 24px;
  .chain-wrapper,
  .score-wrapper {
    direction: rtl;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    height: 66px;
    div {
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p:first-of-type {
        @include Fa_Pageheader_opposite;
      }
      p:last-of-type {
        @include Fa_Tag_opposite;
      }
    }
  }
  .score-wrapper {
    background: linear-gradient(112deg, #2e94d1, #003e94);
  }

  .chain-wrapper {
    background: linear-gradient(112deg, #ae67ff, #470084);
  }
}
