@import "/assets/typography.scss";
.detailed_description_list {
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 10px;

  .pic-description-wrapper {
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: 1fr 0fr;
    gap: 24px 16px;

    &:last-of-type {
      gap: unset;
      column-gap: 16px;
    }

    .description-pic {
      width: 48px;
      height: 48px;
      position: relative;

      img {
        width: inherit;
        height: inherit;
      }
    }

    .title {
      margin-bottom: 8px;
      @include Fa_body_opposite();
    }

    .subtitle {
      @include Fa_Tag_opposite();
    }
  }
}
