@import "/assets/typography.scss";
@import "/assets/mixin.scss";

.notifications-wrapper {
  min-height: calc(100dvh - 64px - env(safe-area-inset-bottom));

  .new-message-wrapper {
    position: fixed !important;
    left: 10px;
    bottom: calc(env(safe-area-inset-bottom) + 80px);
    z-index: 980;
    padding: 16px !important;
    direction: rtl;
    box-shadow: 0 1px 1px #00000029 !important;
    border-radius: 10px !important;
    top: unset;
  }

  .zero-notification {
    gap: 8px;
    direction: rtl;
    padding: 16px;

    height: calc(100dvh - 140px - env(safe-area-inset-bottom));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;

    svg {
      width: 192px !important;
      height: 192px !important;

      @media (max-width: 768px) {
        width: 120px !important;
        height: 120px !important;
      }
    }

    .title {
      @include Fa_Subtitle_1();
    }

    .subtitle {
      @include Fa_Placeholder();
    }
  }

  .inbox-list {
    .inbox-item {
      direction: rtl;
      padding: 16px;
      border-bottom: 1px solid;

      display: grid;
      grid-template-columns: 48px 1fr 40px;
      align-items: center;
      gap: 16px;

      &:last-child {
        border-bottom: unset;
      }

      &.unread {
        .detail {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 100px;
            background-color: #007aff;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .avatar {
        border-radius: 100px;
        overflow: hidden;
        width: 48px;
        height: 48px;
      }

      .name {
        @include Fa_Subtitle_2();
      }

      .summary,
      .date {
        @include Fa_Tag();
      }

      .name,
      .summary {
        display: inline-block;
      }
    }
  }
}
