@import "/assets/mixin.scss";
@import "/assets/typography.scss";

.home-header {
  display: flex;
  align-items: center;
  height: 64px;
  // position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .select-grade {
    @media (max-width: 500px) {
      .smaller-font-size {
        font-size: 12px;
      }
    }
  }
}
