@import "/assets/typography.scss";
.streak-weekdays {
  margin-top: 60px;
  height: 89px;
  width: 100%;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;

  .user-study-chain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .day-names {
      @include Fa_Body();
    }
  }
}
