@import "/assets/typography.scss";

.report-part-bottomsheet {
  z-index: 1250 !important;
  max-width: 768px;
  margin: 0 auto;

  .react-modal-sheet-backdrop {
    max-width: 768px;
    left: unset !important;
  }

  .main-title {
    height: 56px;
    direction: rtl;
    padding: 16px 16px 16px 0;
    @include Fa_Subtitle_1();
    border-bottom: 1px solid;
  }

  .report-buttons-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
    direction: rtl;
    .report-buttons {
      width: 100%;
      height: 56px;
      padding: 16px 16px 16px 16px;
      display: flex;
      justify-content: space-between;
      @include Fa_Body();
      direction: ltr;
      border-bottom: 1px solid;
      border-radius: unset !important;
      .report-icon {
        width: 30px;
      }
    }
  }
}
