@import "/assets/typography.scss";
.gift-bottomsheet-navigateToBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: unset;
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    left: 50%;
    top: 11px;
    transform: translateX(-50%);
    border-radius: 2px;
  }
  > * {
    min-width: 48px;
  }

  .page-title {
    text-align: center;
    @include Fa_Page_Header();
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .gem-amount {
    width: fit-content;
    display: flex;
    align-items: center;

    .gift-navigateToBack-diamond {
      width: 24px !important;
      height: 24px !important;
      margin-right: 4px;
      position: unset !important;
    }

    .gift-navigateToBack-skeleton {
      width: 24px;
      height: 24px;
      transform: unset;
    }
  }

  button {
    margin: unset;
    padding: unset;
    border-radius: 0;
    height: 48px;
    width: 48px;
    .icon {
      font-size: 26px;
    }
  }
}
