.sentence-audio-transcript {
  padding: 8px 16px 8px 8px;
  border-radius: 30px;
  //   margin-bottom: 24px;
  display: grid;
  grid-template-columns: 46px auto;
  gap: 8px;
  margin: 16px 0;
  align-items: center;

  .sentence-audio-player {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;

    button {
      padding: unset;
      width: 45px;
      height: 45px;
      min-width: unset !important;
      border-radius: 100%;
    }
  }
  .sentence {
    text-align: left;
  }
}

.sentence-only-text-wrapper {
  margin-top: 24px;
  .sentence {
    text-align: left;

    .blank {
      &::after {
        content: "\00a0";
      }
    }
  }
}
