@import "/assets/typography.scss";
.user-pic-name {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 24px;
  img,
  svg {
    margin-left: 16px;
    border-radius: 50%;
  }

  .user-name {
    @include Fa_Subtitle_2;
  }
}
